<%-include("header")-%>

<h1>
    About Us
</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae vulputate neque. Duis lorem nulla, malesuada at elit in, ullamcorper efficitur ipsum. Vestibulum magna nisl, fringilla quis volutpat at, vestibulum vitae ex. Fusce ornare lacus magna. Integer a sem sem. Aenean feugiat dignissim ornare. Curabitur tristique condimentum turpis, non mollis elit fringilla ut. Integer consequat sed lacus ut porta. Vivamus interdum odio non lorem bibendum, eget accumsan mauris consequat. Maecenas elementum mi in molestie euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

</p>

<%-include("footer")-%>