<%-include("header")%>
<div class = "container-fluid">
    <div class = "row">
        <h1 class = "blog_head"><%=blog_head%></h1>
        <p class = "content"><%=blog_content%></p>
    </div>
</div>

<%-include("footer")%>