<%-include("header")-%>

<h1>
    Contact Us
</h1>

<p>
    Nam vel tempus felis. In efficitur semper urna sed tempor. Mauris sed suscipit magna, vitae elementum metus. Suspendisse velit orci, accumsan vel dictum non, laoreet vel metus. Suspendisse id mattis lacus, et euismod ligula. Sed bibendum enim sit amet erat blandit aliquam pellentesque ac diam. Nunc rutrum mauris tellus, quis consequat mi mollis at. Nulla ultrices nec libero eu efficitur. Pellentesque sed diam neque. Maecenas non sapien nec arcu efficitur malesuada quis sit amet tellus. Aenean consectetur mattis tellus, sed tincidunt velit gravida at. Morbi aliquet sem vulputate eros eleifend, id vestibulum diam porttitor. Morbi accumsan faucibus ante, facilisis maximus arcu accumsan eget.
    
</p>


<%-include("footer")-%>